@model IdentitySample.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "msg msg-error" })
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-11">
                        <h4>Log in</h4>
                        <hr />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-11">
                        @Html.TextBoxFor(m => m.AccountId, new { @class = "form-control", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(x => x.AccountId).ToHtmlString()) })
                        @Html.ValidationMessageFor(m => m.AccountId, "", new { @class = "msg msg-error" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-11">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(x => x.Password).ToHtmlString()) })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "msg msg-error" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-11">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-11">
                        <input type="submit" value="Log in" class="btn btn-success btn-block" />
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-11">
                        @Html.ActionLink("Register a new user?", "Register", new { @class = "pull-left need-help" })
                        <br/>
                        @Html.ActionLink("Forget your password?", "ForgotPassword", new { @class = "pull-left need-help" })
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new IdentitySample.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
